@(title: String, user: User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div><a href="@routes.Tasks.index()">Omat tehtävät</a>|<a href="@routes.CreateCase.index()">Luo asia</a>|<a href="@routes.ListCases.getCases()">Näytä asiat</a></div>
        <span>Logged in as <b>@user.name</b></span>
        @content
    </body>
</html>
